.form-evento{
    bnackground-color: #212121;
    padding: 32px 28px;
    border-radius: 16px;
    width:384px;
    max-width: 90%;
    margin: 64px auto;
}

.campos{
    display: flex;
    flex-direction: columm;
    gap: 16px;
}